* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

#singUP,
.login {
    flex-basis: 45%;
}
.h1,
.p {
    margin-left: 25px;
}
.input {
    display: block;
    padding: 10px 15px;
    margin: 0.8rem 1rem;
    border-radius: 5px 0 5px 0;
    outline: none;
    border: 0.5px solid rgb(66, 63, 63);
    color: rgb(26, 213, 141);
}
#singUP .input:focus {
    border: 1px solid rgb(26, 213, 141);
}

.container .input {
    width: 60%;
}
